#header {
  background: rgb(37, 54, 73);
  background: linear-gradient(
    180deg,
    rgba(37, 54, 73, 1) 0%,
    rgba(37, 54, 73, 0.75) 100%
  );
  height: 70vh;
}
#header-wrapper {
  height: 100%;
}
/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
