nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(0, 0, 0);
}
.logo {
  color: white;
  text-decoration: none;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  list-style: none;
  padding: 0.5rem 1rem;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
