nav {
  /* position: fixed; */
  padding: 0.5rem 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark-bg);
  border-radius: 0 0 6rem 6rem;
}
.logo img {
  width: 100px;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  list-style: none;
  padding: 0.5rem 1rem;
}
nav ul li a:hover {
  color: var(--green);
}
nav a {
  text-decoration: none;
  color: white;
}
#login {
  color: white;
  background-color: transparent;
  border: 2px solid var(--green);
  padding: 0.4rem 0rem;
  width: 5rem;
  border-radius: 1rem;
}
#login:hover {
  background-color: var(--green);
  cursor: pointer;
}
.menu-icon {
  color: white;
  font-size: 2.8rem;
  cursor: pointer;
  display: none;
  position: absolute;
  left: 2rem;
}

@media (max-width: 768px) {
  nav {
    padding: 0.5rem 0;
    justify-content: center;
  }
  .menu-icon {
    display: inline-flex;
  }
  nav ul {
    position: absolute;
    /* display: block; */
    flex-direction: column;
    align-items: center;
    left: 0;
    top: 4rem;
    width: 100%;
    background-color: var(--dark-bg);
  }
  /* TODO: state so proverva dali e open menito, ako da da go otvori */
  nav ul li {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }
  #login {
    position: absolute;
    right: 2rem;
    width: 4rem;
  }
}
