nav {
  /* position: fixed; */
  padding: 0.5rem 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark-bg);
  /* border-radius: 0 0 6rem 6rem; */
}
.logo img {
  width: 100px;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  list-style: none;
  padding: 0.5rem 1rem;
}
nav ul li a:hover {
  color: var(--green);
}
nav a {
  text-decoration: none;
  color: white;
}
#login {
  color: white;
  background-color: transparent;
  border: 2px solid var(--green);
  padding: 0.4rem 0rem;
  width: 5rem;
  border-radius: 1rem;
}
#login:hover {
  background-color: var(--green);
  cursor: pointer;
}
.menu-icon {
  color: white;
  font-size: 2.8rem;
  cursor: pointer;
  display: none;
  position: absolute;
  left: 2rem;
}

@media (max-width: 768px) {
  nav {
    padding: 0.5rem 0;
    justify-content: start;
  }
  .menu-icon {
    display: inline-flex;
  }
  .logo {
    margin-left: 5rem;
  }
  .logo img {
    width: 80px;
  }
  .menu-list {
    display: none;
  }

  .dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    top: 3.9rem;
    width: 100%;
    height: 13rem;
    background-color: var(--dark-bg);
    animation-name: openmenu;
    animation-duration: 0.5s;
  }

  nav p {
    font-size: 2rem;
  }
  @keyframes openmenu {
    from {
      height: 0px;
    }
    to {
      height: 13rem;
    }
  }

  #login {
    position: absolute;
    right: 2rem;
    width: 4rem;
  }
}
