.sign_up{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.body_left{
    height: 100%;

}
.body_left>img{
    width: 100%;
    height: 100%;
}
.body_right{
    text-align: center;
    justify-content: center;
    align-items: center;

}
.body_right>h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.inputs{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin-bottom: 10px;
}
.inputs>.text_fields{
    width: 290px;
    margin-bottom: 10px;
}
.other_ways{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-bottom: 10px;
}
.other_ways >button>img{
    width: 25px;
    height: 25px;
    background: none;
    margin-right: 5px;
}
.inputs>button{
    text-transform: capitalize;
}
.other_ways>button{
    text-transform: capitalize;
}
h5{
    margin-bottom: 20px;
}