:root {
  --dark-green: #006270;
  --green: #009394;
  --light-green: #00edc7;
  --dark-bg: #253649;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}
.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid red;
}
